<header>
    <h1>{{title}}</h1>
    <h2>Simple Weather Web App!</h2>

    <a href=""></a>
    <a href="/">Home</a> |
    <a href="/help">Help</a> |
    <a href="/about">About</a> |
    {{!-- <a href="/weather">Weather</a> --}}
    <a href="/checkWeather">Weather</a>
</header>